# Dependencies
node_modules/

# Secrets
secrets/
*.serviceAccount.json

# Build
dist/
build/

# Logs
logs/
*.log

# Environment
.env
.env.*

# Coverage
coverage/

# OS
.DS_Store

# IDE
.vscode/
.idea/